{{#partial "contenido" }}

<section id="container">
		<div id="contenido" class="block col-12">
            <div class="row">

                <h1>Impacto ambiental</h2><br>
                <h2>¿Quiénes somos?</h2>

                <div class="col-5">
                <br><p>
                        Somos una plataforma que busca concientizar acerca de las
                        consecuencias adversas del cambio climático producidas por los gases de efecto
                        invernadero emitidos por organizaciones y sus miembros.
                    </p>
                </div>
                <div class="col-7 center">
                    <img src="img/impacto_ambiental.png" width="350px;" height="230px"/>
                <div>
            </div>
        </div>

        <div id="objetivos" class="block col-12">
            <div class="row">
                <h2>¿Qué métodos aplicamos?</h2>
                <p>
                    Para hacer cumplir nuestro objetivo nos basamos en:
                </p>
                <ul>
                    <li><a href="/calculadora">
                        Cálculo huella de carbono
                    </a></li>
                <li><a href = "/vinculacion">
                        Vincularse
                    <a/></li>
                <li><a href = "/vinculaciones-pendientes">
                        Vinculaciones Pendientes
                    </a></li>
                <li><a href = "/tramos">
                        Tus Tramos
                     </a></li>
                </ul>
                <br>

                <span>Para saber más sobre nuestras recomendaciones para ayudar al medioambiente presioná <b><a href="/recomendaciones">acá.</a><b></span>
           </div>
        </div>
        <div id="acciones" class="block col-12">
            <div class="links-acciones col-4">
            <a href="/medicion">Registrar una Medición</a>
            </div>

            <div class="links-acciones col-4">
                <a href="/tramo/nuevo">Registrar un Trayecto</a>
            </div>
            
             <div class="links-acciones col-4">
                <a href="/reportes">Reportes</a>
            </div>
        </div>

</section>

{{/partial}}

{{> layout.html.hbs }}