{{# partial "titulo" }}
    <title>Impacto Ambiental - Login</title>
    <link rel="stylesheet" href="css/recomendaciones.css">
{{/partial}}

{{# partial "contenido" }}
        <section>
        <div class="container">
            <h2 class="center">Que es la huella de carbono</h2>
            <div class="item">
                <p>La huella de carbono representa el volumen total de gases de efecto invernadero (GEI) que
                  producen las actividades económicas y cotidianas del ser humano. Conocer el dato —expresado
                  en toneladas de CO2 emitidas— es importante para tomar medidas y poner en marcha las iniciativas
                  necesarias para reducirla al máximo, empezando por cada uno de nosotros en nuestro día a día.</p>
            </div>
            <div class="item">
                <img src = "https://emagazine.com/wp-content/uploads/2020/10/trees-eco-friendly-landscaping.jpg" alt = "bosque">
            </div>
            <div class="col-12">
                <h3 class="center">Como reducir la huella de carbono</h3>
                 <ul>
                 <li>Muévete de forma más sostenible, en transporte público,
                  bicicleta o a pie, y compra vehículos más respetuosos con el medio ambiente.</li>
                  <li>Elige un consumo de energía de origen 100 % renovable,
                   adquiere electrodomésticos de bajo consumo y regula la calefacción y el aire acondicionado para ahorrar energía.</li>
                  <li>Conciénciate a ti mismo y a los demás sobre la importancia de reducir la huella de carbono.</li>
                  <li> Disminuye la cantidad de residuos: reutiliza tus envases,
                   recíclalos y, si no es posible, tíralos al contenedor correspondiente.</li>
                 </ul>
             </div>
        </div>

         </section>
{{/partial}}
{{> layout.html.hbs }}

